.title {
  text-align: center;
  font-size: x-large;
  color: white;
}

div.computer {
  content: url("https://cdn.discordapp.com/attachments/700337531710996480/719986923166367854/clipart-computer-old-fashioned.png");
}
