@keyframes gradient {
  0% {
    background-color: black;
  }
  25% {
    background-color: aqua;
  }
  50% {
    background-color: aquamarine;
  }
  100% {
    background-color: rgba(122, 8, 228, 30);
  }
}

@keyframes ruby {
  from {
    background-image: url("https://cdn.discordapp.com/attachments/707570535768522872/718376580942135306/image0.png");
    background-position: 0pc;
  }
  to {
    background-image: image(
      "https://cdn.discordapp.com/attachments/707570535768522872/718376580942135306/image0.png"
    );
    background-position: 100pc;
  }
}

body {
  background-color: black;
  animation-name: ruby;
  animation-duration: 100s;
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
  background-image: url("https://cdn.discordapp.com/attachments/707570535768522872/718376580942135306/image0.png");
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
